// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: $theme-primary;

    .header-content {
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
        h1 {
          text-transform: uppercase;
          font-family: Montserrat, sans-serif;
          font-size: 70px;
          letter-spacing: 8px;
          padding-top: 30px;
          -webkit-animation-duration: 2s;
          -webkit-animation-delay: 0s;
          strong {
            font-weight: 700;
          }
        }
        img {
          max-width: 417px;
          width: 100%;
          padding: 130px 0px;
          -webkit-animation-duration: 1.5s;
          -webkit-animation-delay: .5s;
          // -webkit-animation-iteration-count: infinite;
        }
        .slogan {
          color: $gray-light;
          color: white;
          .c-box-1 {
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 0.5s;
            // -webkit-animation-iteration-count: infinite;
          }
          .c-box-2 {
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 1s;
            // -webkit-animation-iteration-count: infinite;
          }
          .c-box-3 {
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 1.5s;
            // -webkit-animation-iteration-count: infinite;
          }
          h2 {
            font-size: 40px;
            @include alt-font;
            letter-spacing: 5px;
            font-weight: 700;
            border-radius: 5px;
            padding: 10px 33px;
            background: $theme-primary;
            }
          .center-item {
            background: $theme-secondary;
          }
          .sub-slogan {
            margin: 0 auto;
            h3 {
              @include body-font;
              font-size: 21px;
              color: $gray-light;
              padding: 15px 0;
            }
          }

        }

      .header-submit {
        margin-top: 125px;
      }

    }

    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 1000px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;

        }
        .device-container {
            max-width: 325px;
        }
    }
}
